<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuleer</ion-button>
    </ion-buttons>
    <ion-title>Notitie Toevoegen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" [disabled]="!bedNumber || !content">
        Opslaan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-leather-dark">

  <ion-item lines="full">
    <ion-input
      name="bedNumber"
      label="Bed / Patiënt"
      labelPlacement="floating"
      placeholder="Bijv. Bed 04"
      [(ngModel)]="bedNumber">
    </ion-input>
  </ion-item>

  <ion-item lines="full" class="ion-margin-top">
    <ion-textarea
      name="content"
      label="Opdracht / Notitie"
      labelPlacement="floating"
      placeholder="Wat moet er gebeuren?"
      [(ngModel)]="content"
      rows="4">
    </ion-textarea>
  </ion-item>

  <ion-item lines="none" class="ion-margin-top">
    <ion-label>Tijdstip instellen</ion-label>
    <ion-datetime-button datetime="shift-datetime"></ion-datetime-button>
  </ion-item>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="shift-datetime"
        name="reminderTime"
        presentation="time-date"
        [(ngModel)]="reminderTime">
      </ion-datetime>
    </ng-template>
  </ion-modal>

</ion-content>
