<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informatie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>ICU Calculators App</h2>
  <p>Welkom bij de ICU Calculators app. Deze app biedt diverse tools voor IC-professionals.</p>
  
  <h3>Over deze app</h3>
  <p>Deze applicatie is ontwikkeld om IC-professionals te ondersteunen bij hun dagelijkse werkzaamheden met praktische rekenhulpmiddelen.</p>
  
  <h3>Contact & Support</h3>
  <p>Voor vragen of opmerkingen, neem contact op met het ontwikkelteam.</p>
</ion-content>
