<ion-app>

  @if (showInstallBanner) {
    <div class="install-top-banner">
      <div class="banner-content">
        <ion-icon name="download-outline" class="install-icon"></ion-icon>
        <span>Installeer app voor snellere toegang</span>
      </div>

      <div class="banner-actions">
        <span (click)="installApp()" class="install-link">INSTALLEREN</span>

        <ion-icon name="close" (click)="closeBanner()" class="close-icon"></ion-icon>
      </div>
    </div>
  }

  <ion-router-outlet></ion-router-outlet>
</ion-app>
