<ion-app>
  @if (showInstallBanner) {
    <div class="install-top-banner">
      <div class="banner-content">
        <ion-icon name="download-outline" class="install-icon"></ion-icon>
        <span>Installeer app voor snellere toegang</span>
      </div>
      <div class="banner-actions">
        <span (click)="installApp()" class="install-link">INSTALLEREN</span>
        <ion-icon name="close" (click)="closeBanner()" class="close-icon"></ion-icon>
      </div>
    </div>
  }

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" class="leather-bg" type="overlay">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title class="menu-title">ICU Support</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none" class="menu-list">
          <!-- HOME Header (Clickable) -->
          <ion-menu-toggle auto-hide="false">
            <ion-item
              class="menu-item home-item"
              [routerLink]="homeItem.url"
              routerDirection="root"
              detail="false"
              routerLinkActive="selected-item">
              <ion-icon slot="start" class="menu-icon" [name]="homeItem.icon"></ion-icon>
              <ion-label class="menu-label menu-label-uppercase">{{ homeItem.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Menu Groups -->
          @for (group of menuGroups; track group.header) {
            <ion-list-header class="menu-group-header">
              {{ group.header }}
            </ion-list-header>
            @for (item of group.items; track item.title) {
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  class="menu-item group-item"
                  [routerLink]="item.url"
                  routerDirection="root"
                  detail="false"
                  routerLinkActive="selected-item">
                  <ion-icon slot="start" class="menu-icon" [name]="item.icon"></ion-icon>
                  <ion-label class="menu-label">{{ item.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            }
          }

          <!-- INFO Header (Clickable, at the bottom) -->
          <ion-menu-toggle auto-hide="false">
            <ion-item
              class="menu-item info-item"
              [routerLink]="infoItem.url"
              routerDirection="root"
              detail="false"
              routerLinkActive="selected-item">
              <ion-icon slot="start" class="menu-icon" [name]="infoItem.icon"></ion-icon>
              <ion-label class="menu-label menu-label-uppercase">{{ infoItem.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="side-menu-footer">
          <div class="footer-text">© 2026 Ben de Boer</div>
        </div>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
